<!DOCTYPE html>
<html>
<head>
    <title> Change Password </title>
    <link href="Forms.css" type="text/css" rel="stylesheet">
</head>
<body>
    <script>
        function checkPasswords(){
            var p = document.forms["passwords"]["p1"].value
            var ps = document.forms["passwords"]["p2"].value

            if (p != ps){
                alert("Passwords do not match")
                return false
            }else{
                return true
            }
        }
    </script>

    <h1> Change your login password </h1>
    <form name = "passwords" method="post" onsubmit="return checkPasswords()" action="changePassword">
    <table border = "0" cellspacing = "5" cellpadding = "0">
        <tr>
            <td>Old Password:</td>
            <td><input class="fill" type="password" name="oldpassword"></td>
        </tr>
        <tr>
            <td>New Password:</td>
            <td><input class="fill" type="password" name="p1"></td>
        </tr>

        <tr>
            <td>Re-enter new password:</td>
            <td><input class = "fill" type = "password" name = "p2"></td>
        </tr>

        <tr>
            <td><input id = "button" type = "submit" value="Change"></td>



        </tr>
    </table>

    </form>
    <% if (model.message!="") { %>

        <span id = "message">$model.message</span>
    <% } else if (model.errormessage != "") { %>

        <span id = "errormessage">$model.errormessage</span>
    <% } %>

<footer>&copy; Copyright Niafikra.</footer>
</body>
</html>
