<!DOCTYPE html>
<html>
<head>
    <title> Update Project</title>
    <link href="Forms.css" type="text/css" rel="stylesheet">
</head>
<body>

<h1> Update Project details</h1>
<form name="edit" method="post" onsubmit="return validateDestination() && validateGit()" action="editproject">
    <table border = "0" cellspacing = "3" cellpading = "0">
        <input type="hidden" name="id" value="${model.pid}">
        <tr>
            <td>Project Name:</td>
            <td><input class="fill"  type="text" name="name" required value = "${model.name}"></td>
        </tr>

        <tr>
            <td>Grails Version:</td>
            <td><input class="fill" type="text" name="grailsVersion" value = ${model.grailsVersion}></td>
        </tr>
        <tr>
            <td>Git Repository (ssh URL): (git@github.com:username/ProjectRepo.git) </td>
            <td><input class="fill" type="text" name="gitRepo" required value = ${model.gitRepo}></td>
        </tr>
        <tr>
            <td>Deployment Destination: (username@destination_address:path_to_deploy_to/)</td>
            <td><input class="fill" type="text" name="destination" value = "${model.destination}"></td>
        </tr>
        <tr>
            <td><input   type="reset" value="Reset Form"></td>
            <td><input type="submit"  value="Update" id="button"></td>
        </tr>



    </table>



</form>

<script>
    
    function validateDestination(){
            var p = document.forms["edit"]["destination"].value;
            var atpos = p.indexOf("@");
            var colpos = p.indexOf(":");
		   if (atpos <= 0 || colpos <= 0 || colpos <= atpos+2 || p == "" || p == null)
  			{
  		        alert("Not a valid destination address");
                return false;
  			} else {
  			    return true;
  			}
    }

    function validateGit(){
        var p = document.forms["edit"]["gitRepo"].value;
            var atpos = p.indexOf("@");
            var colpos = p.indexOf(":");
		   if (atpos <= 0 || colpos <= 0 || colpos <= atpos+2 || p == "" || p == null)
  			{
  		        alert("Not a valid git URL");
                	return false;
  			} else {
  			    return true;
  			}

    }
</script>
<footer>&copy; Copyright Niafikra.</footer>

</body>
</html>
